services:
  bot:
    build:
      context: ../app
      dockerfile: ../.docker/Dockerfile
      target: ${DOCKER_TARGET:-dev}
    container_name: ${PROJECT_NAME}
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
    env_file:
      - .env
    depends_on:
      - db
    volumes:
      - ../app:/app
    ports:
      - ${TELEGRAM_BOT_WEBHOOK_PORT}:${TELEGRAM_BOT_WEBHOOK_PORT}

  db:
    image: postgres:15-alpine
    container_name: ${PROJECT_NAME}-db
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
    env_file:
      - .env
    environment:
      - POSTGRES_HOST=db
    ports:
      - "${PUBLIC_POSTGRES_PORT}:5432"
    volumes:
      - ../pgdata:/var/lib/postgresql/data
